.bodybg{
    -fx-background-image: url("/Stratego/Resources/Scrn_Stratego_01.png");
    -fx-background-size: 100% 100%;
}
.bodybg2{
    -fx-background-image: url("/Stratego/Resources/ForestBgr.jpg");
    -fx-background-size: 100% 100%;
}
.bodybg3{
    -fx-background-image: url("/Stratego/Resources/Blue-Fading-Background-Picture.jpg");
    -fx-background-size: 100% 100%;
}
